img{
  position: relative;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  bottom: 0px;
}


#top-half{
    margin-bottom: 0em;
}


#home-content{
    background-color: white;
}
